* {
    font-family: "SF Mono", sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
}

window#waybar {
    background-color: transparent;
    color: #ebdbb2;
}

.modules-left {
    padding-left: 4px;
    padding-right: 4px;
}

.modules-right {
    padding-right: 4px;
    padding-left: 4px;
}

.modules-center {
    padding-right: 4px;
    padding-left: 4px;
}

#backlight {
    padding-right: 8px;
    padding-left: 8px;
    background-color: #282828;
    color: #ebdbb2;
    margin-left: 4px;
    margin-right: 4px;
    border: 4px solid #ebdbb2;
}
#backlight:hover {
    border: 4px solid #b16286;
}

#battery {
    padding-right: 8px;
    padding-left: 8px;
    color: #ebdbb2;
    background-color: #282828;
    margin-left: 4px;
    margin-right: 4px;
    border: 4px solid #ebdbb2;
}
#battery:hover {
    border: 4px solid #b16286;
}

#cpu {
    padding-right: 8px;
    padding-left: 8px;
    background-color: #282828;
    margin-left: 4px;
    margin-right: 4px;
    border: 4px solid #ebdbb2;
}
#cpu:hover {
    border: 4px solid #b16286;
}

#clock {
    padding-right: 8px;
    padding-left: 8px;
    background-color: #282828;
    color: #ebdbb2;
    margin-left: 4px;
    margin-right: 4px;
    border: 4px solid #ebdbb2;
}
#clock:hover {
    border: 4px solid #b16286;
}

#network {
    padding-right: 8px;
    padding-left: 8px;
    background-color: #282828;
    color: #8ec07c;
    margin-left: 4px;
    margin-right: 4px;
    border: 4px solid #ebdbb2;
}
#network:hover {
    border: 4px solid #b16286;
}

#power-profiles-daemon {
    padding-right: 8px;
    padding-left: 8px;
    background-color: #282828;
    color: #ebdbb2;
    margin-left: 4px;
    margin-right: 4px;
    border: 4px solid #ebdbb2;
}
#power-profiles-daemon.power-saver {
    color: #83a598;
}
#power-profiles-daemon.balanced {
    color: #b16286;
}
#power-profiles-daemon.performance {
    color: #cc241d;
}
#power-profiles-daemon:hover {
    border: 4px solid #b16286;
}

#workspaces {
    background-color: transparent;
    color: transparent;
}

#workspaces button {
    background-color: #282828;
    color: #ebdbb2;
    border: 4px solid #ebdbb2;
    margin-left: 4px;
    margin-right: 4px;
}

#workspaces button.active {
    background-color: #282828;
    color: #ebdbb2;
    border: 4px solid #b16286;
    margin-left: 4px;
    margin-right: 4px;
}

#workspaces button:hover {
    box-shadow: none;
    text-shadow: none;
    background: none;
    transition: none;

    background-color: #ebdbb2;
    color: #282828;
    border: 4px solid #b16286;
}

#wireplumber {
    padding-right: 8px;
    padding-left: 8px;
    background-color: #282828;
    color: #83a598;
    margin-left: 4px;
    margin-right: 4px;
    border: 4px solid #ebdbb2;
}
#wireplumber:hover {
    border: 4px solid #b16286;
}

#wireplumber.source {
    padding-right: 8px;
    padding-left: 8px;
    background-color: #282828;
    color: #fb4934;
    margin-left: 4px;
    margin-right: 4px;
    border: 4px solid #ebdbb2;
}
#wireplumber.source:hover {
    border: 4px solid #b16286;
}
