* {
    font-family: "SF Mono", sans-serif;
    font-weight: bold;
    font-size: 16px;
    border-radius: 8px;
}

window {
    margin: 8px;
    padding: 8px;
    border: none;
    background-color: #282828;
    color: #ebdbb2;
    border-radius: 0px;
}

#outer-box {
    padding: 8px;
    margin: 0;
    border: none;
    background-color: #282828;
    border-radius: 8px;
}

#input {
    padding: 4px 8px;
    margin: 4px 0 4px 0;
    border: 4px solid #ebdbb2;
    background: #3c3836;
    background-image: none;
    color: #ebdbb2;
    outline: none;
    border-radius: 8px;
    caret-color: #b16286;
}

#input:focus {
    border-color: #b16286;
    box-shadow: none;
}

#scroll {
    margin: 4px 0;
    padding: 4px 0;
    background-color: transparent;
    border: none;
}

#inner-box {
    padding: 0;
    border: none;
    background-color: transparent;
    color: #ebdbb2;
}

#entry {
    padding: 8px 8px;
    margin: 4px 0;
    border: 4px solid transparent;
    background-color: #3c3836;
    color: #ebdbb2;
    border-radius: 8px;
    transition:
        border-color 120ms ease,
        background-color 120ms ease;
}

#entry:hover {
    border-color: #b16286;
    background-color: #504945;
    color: #ebdbb2;
}

#entry:selected {
    border-color: #b16286;
    background-color: #ebdbb2;
    color: #282828;
}

#text {
    color: #ebdbb2;
    background-color: transparent;
}

#text:selected {
    color: #282828;
    background-color: transparent;
}

#text:unselected {
    color: #ebdbb2;
    background-color: transparent;
}

#img {
    display: none;
    margin-right: 0;
    border-radius: 0;
}

#img:selected {
    background-color: #b16286;
}

#img:unselected {
    background-color: transparent;
}

#entry:first-child {
    margin-top: 2px;
}

#entry:last-child {
    margin-bottom: 2px;
}
